<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div id="home" class="top-section">
    <div class="center jumbotron">
      <h1><font color="#ff6666" face="Arial Black,ＭＳ Ｐゴシック,sans-serif"><span id="blink8701">Welcome to the Anime.com</span><script>with(blink8701)id='',style.opacity=1,setInterval(function(){style.opacity^=1},500)</script></font></h1>

      <h2><font color="#ff6666" face="Arial Black,ＭＳ Ｐゴシック,sans-serif">アニメ好きな人集合！みんなでアニメについて語り合おう！</font>

      </h2>

      <%= link_to "登録する", signup_path, class: "btn btn-lg btn-primary" %>
      <%= link_to image_tag("haruhi.jpg", alt: "Rails logo") %>

    </div>

  </div>
<% end %>
